@()
@main("Kalambury - game") {
    <div class="row">
        <div class="large-8 medium-8 columns">
            JESTEŒ ZALOGOWANY JAKO gracz1
        </div>
        <div class="large-4 medium-4 columns">
            <a class="small button">WYLOGUJ</a>
        </div>
    </div>
    <div class="row">
        <h1>KALAMBURY</h1>
    </div>
    <div class="row">
        <h2>STÓ£ #1 | <span class="roomTime">2MIN</span> | <span class="roomPoints">1000 PKT</span></h2>
    </div>
    <div class="row">
        <div class="large-8 medium-8 columns">
            <div class="row">
                <div class="large-6 medium-6 columns">
                    Has³o | <span class="sentence">java</span>
                </div>
                <div class="large-6 medium-6 columns">
                    Pozosta³y czas | <span class="remainingTime">37s</span>
                </div>
            </div>
            <div class="row">
                <canvas></canvas>
            </div>
        </div>
        <div class="large-4 medium-4 columns">
            <div class="row">
                <div class="czat"></div>
            </div>
            <div class="row">
                <div class="punktacja"></div>
            </div>
        </div>
    </div>
    <div class="row">
        <a href="index2.html" class="small button">OPUŒÆ STÓ£</a>
    </div>
}