@()(implicit session: play.api.mvc.Session)

@main("Kalambury - game") {
    <div class="row">
        <div class="large-10 text-right medium-10 columns">
            @if(session.get("username")){
                <div class="loginmsg">JESTE&Sacute; ZALOGOWANY JAKO <span id="player" class="text-left">@session.get("username")</span></div>
            }
        </div>
        <div class="large-2 medium-2 columns">
            @helper.form(action = routes.UserController.logoutPost) {
                <input type="submit" class="small button" value="WYLOGUJ"/>
            }
        </div>
    </div>
    <div class="row">
        <div class="large-centered medium-centered columns">
            <h1 class="text-center title">KALAMBURY</h1>
        </div>
    </div>
    <div class="row">
        <div class="large-8 large-centered medium-centered columns">
            <h2 class="text-center h2">ST&Oacute;&Lstrok; #1 | <span class="roomTime">2MIN</span> | <span class="roomPoints">1000 PKT</span></h2>
        </div>
    </div>
    <div class="row" data-equalizer>
        <div class="large-8 medium-8 columns" data-equalizer-watch>
            <div class="row">
                <div class="large-6 medium-6 columns">
                    Has&lstrok;o | <span id="sentence">java</span>
                </div>
                <div class="large-6 medium-6 text-right columns">
                    Pozosta&lstrok;y czas | <span id="remainingTime">37s</span>
                </div>
            </div>
            <div class="row">
                <div class="large-12 medium-12 columns">
                    <canvas id="canvas" width="650" height="500"></canvas>
                </div>
            </div>
        </div>
        <div class="large-4 medium-4 columns" data-equalizer-watch>
            <div class="row">
                <div class="large-centered columns">
                    <div id="chatbox">
                        <div class="moduletitle">Czat</div>
                        <div id="chat" class="scrollbar">
                            <div>#pozostaly czas 60s</div>
                            <div>nojas: kawa</div>
                            <div>agrest: herbata</div>
                            <div>nobi70: mleko</div>
                            <div>kula24: oko</div>
                            <div>nojas: kawa</div>
                            <div>agrest: herbata</div>
                            <div>nobi70: mleko</div>
                            <div>kula24: oko</div>
                            <div>nojas: kawa</div>
                            <div>agrest: herbata</div>
                            <div>nobi70: mleko</div>
                            <div>kula24: oko</div>
                            <div>#GRATULACJE, to oko</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="large-centered columns">
                    <form name="message" action="">
                        <ul class="button-group">
                            <li>
                                <input name="usrmsg" id="usrmsg" type="text" placeholder="Tutaj wpisz odpowied&zacute;..." />
                            </li>
                            <li>
                                <input name="submitmsg" type="submit" id="submitmsg" class="tiny button" value="WY&Sacute;LIJ" />
                            </li>
                        </ul>
                    </form>
                </div>
            </div>
            <div class="row">
                <div class="large-12 medium-12 columns">
                    <div id="pointsContainer" class="scrollbar">
                        <table id="points">
                            <tr>
                                <th class="moduletitle text-right">Gracz</th>
                                <th class="moduletitle text-left" style="width: 40%">Punkty</th>
                            </tr>
                            <tr>
                                <td class="text-right">gracz1</td>
                                <td>120</td>
                            </tr>
                            <tr>
                                <td class="text-right">agrest</td>
                                <td>80</td>
                            </tr>
                            <tr>
                                <td class="text-right">nobi</td>
                                <td>70</td>
                            </tr>
                            <tr>
                                <td class="text-right">kula24</td>
                                <td>0</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="large-centered text-center columns">
            <a href="@routes.Application.index" class="small button">OPU&Sacute;&Cacute; GR&Eogon;</a>
        </div>
    </div>
}