@()(implicit request: Request[AnyContent])

@main("Kalambury - index") {


    <div class="row">

        <div class="credentials">
            @if(request.session.get("username")) {
                <div class="large-10 medium-10 text-right columns">
                    <span>Witaj, <span id="player">@request.session.get("username")</span></span>
                </div>
                <div class="large-2 medium-2 columns">
                    @helper.form(action = routes.UserController.logoutPost) {
                        <input type="submit" class="small button" value="WYLOGUJ"/>
                    }
                </div>
            } else {
                <div class="large-10 medium-10 columns">
                    @helper.form(action = routes.UserController.loggingPost) {
                        <div class="large-5 medium-5 columns">
                            <input type="text" name="username" placeholder="NICK">
                        </div>
                        <div class="large-5 medium-5 columns">
                            <input type="password" name="password" placeholder="HAS&Lstrok;O">
                        </div>
                        <div class="large-2 medium-2 columns">
                            <input type="submit" class="small button" value="ZALOGUJ"/>
                        </div>
                    }
                </div>
                <div class="large-2 medium-2 columns">
                    <a href="@routes.UserController.register" class="small secondary button">REJESTRACJA</a>
                </div>
            }
        </div>
    </div>
    @{request.flash.get("message") match {
        case Some(f) => {
            Html("<div class=\"row\"><div data-alert class=\"alert-box alert round\"> " + f + " </div></div>")
        }
        case None =>
            Html("<div></div>")
    }}
    <div class="row">
        <div class="large-centered medium-centered columns">
            <h1 class="text-center title">KALAMBURY</h1>
        </div>
    </div>
    <div class="row">
        <div class="large-6 large-centered medium-centered columns">
            <h2 class="text-center h2">RYSUJ I ZGADUJ!</h2>
        </div>
    </div>
    <div class="row">
        <div class="large-centered text-center medium-centered columns">
            <a href="@routes.GameController.enter" class="small button">DO&Lstrok;&Aogon;CZ DO GRY</a>
        </div>
    </div>
}
