@(message: String, users: Seq[User])

@main("Kalambury - index") {

    <div class="row">
        <div class="large-10 medium-10 columns">
            <form>
                <div class="large-5 medium-5 columns">
                    <input type="text" name="lnick" placeholder="NICK">
                </div>
                <div class="large-5 medium-5 columns">
                    <input type="password" name="lpass" placeholder="HAS?O">
                </div>
                <div class="large-2 medium-2 columns">
                    <a role="button" aria-label="submit form" class="small button" type="submit">ZALOGUJ</a>
                </div>
            </form>
        </div>
        <div class="large-2 medium-2 columns">
            <a href="register" class="small secondary button">REJESTRACJA</a>
        </div>
    </div>
    <div class="row">
        <div class="large-centered medium-centered columns">
            <h1 class="text-center title">KALAMBURY</h1>
        </div>
    </div>
    <div class="row">
        <div class="large-centered medium-centered columns">
            <h2 class="text-center h2">RYSUJ I ZGADUJ!</h2>
        </div>
    </div>
    <div class="row">
        <div class="large-centered text-center medium-centered columns">
            <a href="gra.html" class="small button">DO??CZ DO GRY</a>
        </div>
    </div>

}
