@(userForm: Form[UserData])(implicit messages: Messages)

@main("Kalambury - register") {
    <div class="row">
        <h1 class="title text-center">KALAMBURY</h1>
    </div>
    <div class="row">
        <div class="large-5 large-centered columns">
            <h2 class="text-center h2">REJESTRACJA</h2>
        </div>
    </div>
    <div class="row">
        <form>
            <div class="large-3 medium-3 columns">
                <input type="text" name="lnick" placeholder="NICK">
            </div>
            <div class="large-3 medium-3 columns">
                <input type="password" name="lpass" placeholder="HAS£O">
                <label>min. 6 znaków</label>
            </div>
            <div class="large-3 medium-3 columns">
                <input type="password" name="lpass" placeholder="POWTÓRZ HAS£O">
            </div>
            <div class="large-3 medium-3 columns">
                <a role="button" aria-label="submit form" class="small button" type="submit">UTWÓRZ KONTO</a>
            </div>
        </form>
    </div>
}