@(userForm: Form[UserData], flash: Option[Flash] = None)(implicit messages: Messages)

@main("Kalambury - register") {
    <div class="row">
        <h1 class="title text-center">KALAMBURY</h1>
    </div>
    <div class="row">
        <div class="large-5 large-centered columns">
            <h2 class="text-center h2">REJESTRACJA</h2>
        </div>
    </div>
    @(flash match {
        case Some(f) => {
            Html("<div class=\"row\"><div data-alert class=\"alert-box alert round\"> " + flash.get("message") + " </div></div>")
        }
        case None =>
            Html("<div></div>")
    })

    <div class="row">
        <form action="@routes.UserController.register" method="POST">
            <div class="large-4 medium-4 columns">
                <input type="text" required="required"  name="login" id="login" placeholder="NICK">
            </div>
            <div class="large-4 medium-4 columns">
                <input type="password" required="required" name="password" id="password" placeholder="HAS&Lstrok;O">
                <label>min. 1 znak</label>
            </div>
            <div class="large-4 medium-4 columns">
                <input type="submit" class="small button" value="ZAREJESTRUJ"/>
            </div>
        </form>
            <!--
                @*<input type="text" required="required" name="@name" id="@id" @toHtmlArgs(args) placeholder="NICK">*@


                @*<input type="password" required="required" name="@name" id="@id" @toHtmlArgs(args) placeholder="HAS&#321;O">*@
                <label>min. 6 znak&#243;w</label>
            <input type="submit" class="small button" value="ZAREJESTRUJ"/>-->
        <!--<form>
            <div class="large-3 medium-3 columns">
                <input type="text" name="lnick" placeholder="NICK">
            </div>
            <div class="large-3 medium-3 columns">
                <input type="password" name="lpass" placeholder="HAS&Lstrok;O">
                <label>min. 6 znak&oacute;w</label>
            </div>
            <div class="large-3 medium-3 columns">
                <input type="password" name="lpass" placeholder="POWT&Oacute;RZ HAS&Lstrok;O">
            </div>
            <div class="large-3 medium-3 columns">
                <a role="button" aria-label="submit form" class="small button" type="submit">UTW&Oacute;RZ KONTO</a>
            </div>
        </form>-->
    </div>
    <div class="row text-center">
        <a href="/" class=" small secondary button">WR&#211;&#262;</a>
    </div>
}